<div ng-controller="homeCtrl as hCtrl">
  <div id="index-banner" class="parallax-container">
      <div class="parallax p-image">
          <img src="background1.jpg" alt="Unsplashed background img 1">
      </div>
  </div>

  <div class="container">
      <div class="section">
        <h3>{{hCtrl.name}}</h3>
        <ul>
          <li ng-repeat="user in hCtrl.users">Name: {{user.username}}</li>
        </ul>
          <h1 id="title" class="header center teal-text">Compost Made Easy</h1>
          <div class="row center">
              <h5 class="header col s12 light">Analyze your compost to achieve optimal <br>decomposition and nutrient-rich soil</h5>
          </div>
          <div class="row center" ng-controller="signUpCtrl as sCtrl">
              <button id="download-button" class="btn-large waves-effect waves-light red lighten-1" ng-click="sCtrl.showFunc()">Get Started</button>
              <div class="row center">
                <form ng-show="sCtrl.show" ng-submit="hCtrl.createUser(hCtrl.newUser)">
                  <div class="row center">
                  <h5 id="form-header" class="header col s12 light">Fill out your information below and start tracking your compost today!</h5>
                  </div>
                  <div class="row center">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="icon_prefix" type="text" class="validate" ng-model="hCtrl.newUser.username">
                      <label for="icon_prefix">Username</label>
                    </div>
                  </div>
                  <div class="row center">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">email</i>
                      <input id="icon_email" type="email" class="validate" ng-model="hCtrl.newUser.email">
                      <label for="icon_email">Email</label>
                    </div>
                  </div>
                  <div class="row center">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">vpn_key</i>
                      <input id="icon_key" type="password" class="validate" ng-model="hCtrl.newUser.password">
                      <label for="icon_key">Password</label>
                    </div>
                  </div>
                  <submit class="btn-large waves-effect waves-light red lighten-1" ng-click="sCtrl.signUp">Sign-Up</submit>
                </form>
              </div>
            </div>
            <div class="row center">
              <div class="row center">
                Already have an account?
                <span data-target="modal2" class="teal-text modal-trigger"><u>Login</u></span>
              </div>
            </div>

            <!-- Modal Structure -->
            <div id="modal2" class="modal">
              <div class="modal-content">
                <form>
                  <div class="row center">
                    <div class="input-field col s10">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Username</label>
                    </div>
                  </div>
                  <div class="row center">
                    <div class="input-field col s10">
                      <i class="material-icons prefix">vpn_key</i>
                      <input id="icon_key" type="password" class="validate">
                      <label for="icon_key">Password</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <a ui-sref="tracker" class=" btn-large modal-action modal-close waves-effect waves-light red lighten-1">Login</a>
              </div>
            </div>

            <script>
            $(document).ready(function(){
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal-trigger').leanModal();
              });
            </script>

      </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Help your plants grow to their full potential with the nutrient-rich soil produced from your compost</h5>
            </div>
        </div>
    </div>
    <div class="parallax p-image">
      <img src="background2.jpg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
      <div class="section">

          <div class="row">
              <div class="col s12 m4">
                  <div class="icon-block">
                      <h2 class="center teal-text"><i class="material-icons">query_builder</i></h2>
                      <h5 class="center">Speeds Up Decomposition</h5>

                      <p class="light">Use our temperature and humidity sensor to track the analytics of your compost, ensuring optimal decomposition</p>
                  </div>
              </div>

              <div class="col s12 m4">
                  <div class="icon-block">
                      <h2 class="center teal-text"><i class="material-icons">assessment</i></h2>
                      <h5 class="center">Ensure Material Balance</h5>

                      <p class="light">Use our monitoring system to enter the material you have added to your compost so you can be sure you have the proper balance</p>
                  </div>
              </div>

              <div class="col s12 m4">
                  <div class="icon-block">
                      <h2 class="center teal-text"><i class="material-icons">search</i></h2>
                      <h5 class="center">All Questions Answered</h5>

                      <p class="light">Search our database for material you can compost. Learn the basics and have all of your compost questions answered</p>
                  </div>
              </div>
          </div>

      </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Start your own compost pile and help the environment by reducing the amount of trash your household produces</h5>
            </div>
        </div>
    </div>
    <div class="parallax p-image">
      <img src="background3.jpg" alt="Unsplashed background img 3">
    </div>
  </div>
</div>
