<div class="container">
  <h1 id="title" class="header center teal-text">What Can I Compost?</h1>
  <div class="row">
      <p class="header col s12 light">Almost anything natural or plant-based can be composted. Don’t add meat or a lot of fat or you will attract animals to your yard! The smaller you can shred or chop your compostable items before you put them into the pile, the faster and more evenly they will decompose. It’s really worth the extra effort to chop and shred if you plan to use your compost for vegetable gardening, or, simply compost tough, slow things like tree branches and old rope in a separate pile.
      <br>
      <br>
      The following list is meant to get you thinking about your compost possibilities. Imagine how much trash we could prevent from going into the landfills if each of us decided to compost a few more things!</p>
  </div>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header teal-text"><i class="material-icons">list</i>From the Kitchen</div>
      <div class="collapsible-body">
        <p>
          Fruit and vegetable scraps<br>
          Egg shells (crushed)<br>
          Coffee grounds<br>
          Coffee filters<br>
          Tea bags (Make sure they are made of natural materials like hemp or cotton, and not rayon or other synthetics. If in doubt, just open it and compost the tea leaves alone.)<br>
          Loose leaf tea<br>
          Spoiled soy/rice/almond/coconut milk<br>
          Used paper napkins and paper towels<br>
          Unwaxed cardboard pizza boxes (ripped or cut into small pieces)<br>
          Paper bags (shredded)<br>
          The crumbs you sweep off of the counters and floors<br>
          Cooked pasta<br>
          Cooked rice<br>
          Stale bread, pitas, or tortillas<br>
          Stale tortilla chips or potato chips<br>
          Spoiled pasta sauce or tomato paste<br>
          Crumbs from the bottom of snack food packaging<br>
          Paper towel rolls (shredded)<br>
          Stale crackers<br>
          Stale cereal<br>
          Cardboard boxes from cereal, pasta, etc. (Remove any plastic windows and shred)<br>
          Used paper plates (as long as they don’t have a waxy coating)<br>
          Nut shells (except for walnut shells, which are toxic to plants)<br>
          Tofu and tempeh<br>
          Seaweed, kelp or nori<br>
          Unpopped, burnt popcorn kernels<br>
          Old herbs and spices<br>
          Stale pretzels<br>
          Stale candy (crushed or chopped)<br>
          Stale protein or “energy” bars<br>
          Pizza crusts<br>
          Old oatmeal<br>
          Peanut shells<br>
          Cardboard egg cartons (cut them up)<br>
          Stale pumpkin, sunflower or sesame seeds (chopped up so they can’t sprout)<br>
          Avocado pits (chopped up so they don’t sprout)<br>
          Wine corks (chop up so they decompose faster)<br>
          Moldy cheese (in moderation)<br>
          Melted ice cream (in moderation)<br>
          Old jelly, jam, or preserves<br>
          Stale beer and wine<br>
          Toothpicks<br>
          Bamboo skewers (break them into pieces)<br>
          Paper cupcake or muffin cups<br>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header teal-text"><i class="material-icons">list</i>From the Bathroom</div>
      <div class="collapsible-body">
        <p>
          Used facial tissues<br>
          Hair from your hairbrush<br>
          Trimmings from an electric razor<br>
          Toilet paper rolls (shredded)<br>
          Old loofahs (cut up, natural only)<br>
          Nail clippings<br>
          Latex condoms<br>
          100% cotton cotton balls<br>
          Cotton swabs made from 100% cotton and cardboard (not plastic) sticks<br>
          100% cotton tampons and sanitary pads (including used)<br>
          Cardboard tampon applicators<br>
          Menstrual blood<br>
          Urine<br>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header teal-text"><i class="material-icons">list</i>Around the House</div>
      <div class="collapsible-body">
        <p>
          “Dust bunnies”
          Contents of your vacuum cleaner bag or canister (pick out any inorganic stuff, like pennies or legos)<br>
          Contents of your dustpan (again, pick out any inorganic stuff)<br>
          Newspapers (shredded or torn into smaller pieces)<br>
          Junk mail (shredded, remove coated paper and plastic windows)<br>
          Subscription cards from magazines (shredded)<br>
          Burlap sacks (cut or torn into small pieces)<br>
          Old rope and twine (chopped, natural, unwaxed only)<br>
          Leaves trimmed from houseplants<br>
          Dead houseplants and their soil<br>
          Flowers from floral arrangements<br>
          Natural potpourri<br>
          Used matches<br>
          Ashes from the fireplace, barbecue grill, or outdoor fire pits (in moderation)<br>
          Grass clippings<br>
          Dead autumn leaves<br>
          Sawdust (from plain wood that has NOT been pressure-treated, stained or painted)<br>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header teal-text"><i class="material-icons">list</i>From the Laundry Room</div>
      <div class="collapsible-body">
        <p>
          Dryer lint (from natural fabrics only!)<br>
          Old/stained cotton clothing and jeans (ripped or cut into small pieces)<br>
          Cotton fabric scraps (shredded)<br>
          Old wool clothing (ripped or cut into small pieces)<br>
          Very old cotton towels and sheets (shredded)<br>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header teal-text"><i class="material-icons">list</i>From the Office</div>
      <div class="collapsible-body">
        <p>
          Bills and other plain paper documents (shredded)<br>
          Envelopes (shredded, minus the plastic window)<br>
          Pencil shavings<br>
          Sticky notes (shredded)<br>
          Old business cards (shredded, as long as they’re not glossy)<br>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header teal-text"><i class="material-icons">list</i>Party and Holiday Supplies</div>
      <div class="collapsible-body">
        <p>
          Wrapping paper rolls (cut into smaller pieces)<br>
          Paper table cloths (shredded or torn into smaller pieces)<br>
          Crepe paper streamers (shredded)<br>
          Latex balloons<br>
          Jack O’lanterns (smashed)<br>
          Those hay bales you used as part of your outdoor fall decor (broken apart)<br>
          Natural holiday wreaths (chop up with pruners first)<br>
          Christmas trees (chop up with pruners first, or use a wood chipper, if you have one…)<br>
          Evergreen garlands (chop up with pruners first)<br>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header teal-text"><i class="material-icons">list</i>Pet-Related</div>
      <div class="collapsible-body">
        <p>
          Fur from the dog or cat brush<br>
          Droppings and bedding from your rabbit, gerbil, hamster, etc.<br>
          Newspaper/droppings from the bottom of the bird or snake cage<br>
          Feathers<br>
          Horse, cow or goat manure<br>
          Alfalfa hay or pellets (usually fed to rabbits, gerbils, etc.)<br>
          Dry dog or cat food, fish pellets<br>
        </p>
      </div>
    </li>
  </ul>
  <br>

  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible({
        accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      })
    })
  </script>

  <div class="row">
    <p id="copyright">Content from <a class="teal-text" href ="http://www.smallfootprintfamily.com/100-things-you-can-compost#ixzz4ExfMd0Xa">Small Footprint Family</a> © 2015 Small Footprint Family™</p>
  </div>
</div>
