<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content grey-text text-darken-2">
        <span class="card-title teal-text">From the Kitchen</span>
          <hr>
          <div class="chip">
            <img src="images/yuna.jpg" alt="Contact Person">
            Fruit and vegetable scraps
          </div>
          <li>Fruit and vegetable scraps</li>
          <li>Egg shells (crushed)</li>
          <li>Coffee grounds</li>
          <li>Coffee filters</li>
          <li>Tea bags (Make sure they are made of natural materials like hemp or cotton, and not rayon or other synthetics. If in doubt, just open it and compost the tea leaves alone.)</li>
          <li>Loose leaf tea</li>
          <li>Spoiled soy/rice/almond/coconut milk</li>
          <li>Used paper napkins and paper towels</li>
          <li>Unwaxed cardboard pizza boxes (ripped or cut into small pieces)</li>
          <li>Paper bags (shredded)</li>
          <li>The crumbs you sweep off of the counters and floors</li>
          <li>Cooked pasta</li>
          <li>Cooked rice</li>
          <li>Stale bread, pitas, or tortillas</li>
          <li>Stale tortilla chips or potato chips</li>
          <li>Spoiled pasta sauce or tomato paste</li>
          <li>Crumbs from the bottom of snack food packaging</li>
          <li>Paper towel rolls (shredded)</li>
          <li>Stale crackers</li>
          <li>Stale cereal</li>
          <li>Cardboard boxes from cereal, pasta, etc. (Remove any plastic windows and shred)</li>
          <li>Used paper plates (as long as they don’t have a waxy coating)</li>
          <li>Nut shells (except for walnut shells, which are toxic to plants)</li>
          <li>Tofu and tempeh</li>
          <li>Seaweed, kelp or nori</li>
          <li>Unpopped, burnt popcorn kernels</li>
          <li>Old herbs and spices</li>
          <li>Stale pretzels</li>
          <li>Stale candy (crushed or chopped)</li>
          <li>Stale protein or “energy” bars</li>
          <li>Pizza crusts</li>
          <li>Old oatmeal</li>
          <li>Peanut shells</li>
          <li>Cardboard egg cartons (cut them up)</li>
          <li>Stale pumpkin, sunflower or sesame seeds (chopped up so they can’t sprout)</li>
          <li>Avocado pits (chopped up so they don’t sprout)</li>
          <li>Wine corks (chop up so they decompose faster)</li>
          <li>Moldy cheese (in moderation)</li>
          <li>Melted ice cream (in moderation)</li>
          <li>Old jelly, jam, or preserves</li>
          <li>Stale beer and wine</li>
          <li>Toothpicks</li>
          <li>Bamboo skewers (break them into pieces)</li>
          <li>Paper cupcake or muffin cups</li>
      </div>
    </div>
  </div>
</div>


<div>
  <button id="download-button" class="btn-large waves-effect waves-light red lighten-1" ng-click="lCtrl.findAll()">What can I compost?</button>
  <div class="">
    <div class="chip">
      <img src="images/yuna.jpg" alt="Contact Person">
      Fruit and vegetable scraps
    </div>


  Used facial tissues
  Hair from your hairbrush
  Trimmings from an electric razor
  Toilet paper rolls (shredded)
  Old loofahs (cut up, natural only)
  Nail clippings
  Latex condoms
  100% cotton cotton balls
  Cotton swabs made from 100% cotton and cardboard (not plastic) sticks
  100% cotton tampons and sanitary pads (including used)
  Cardboard tampon applicators
  Menstrual blood
  Urine

  Dryer lint (from natural fabrics only!)
  Old/stained cotton clothing and jeans (ripped or cut into small pieces)
  Cotton fabric scraps (shredded)
  Old wool clothing (ripped or cut into small pieces)
  Very old cotton towels and sheets (shredded)

  Bills and other plain paper documents (shredded)
  Envelopes (shredded, minus the plastic window)
  Pencil shavings
  Sticky notes (shredded)
  Old business cards (shredded, as long as they’re not glossy)

  “Dust bunnies”
  Contents of your vacuum cleaner bag or canister (pick out any inorganic stuff, like pennies or legos 🙂 )
  Contents of your dustpan (again, pick out any inorganic stuff)
  Newspapers (shredded or torn into smaller pieces)
  Junk mail (shredded, remove coated paper and plastic windows)
  Subscription cards from magazines (shredded)
  Burlap sacks (cut or torn into small pieces)
  Old rope and twine (chopped, natural, unwaxed only)
  Leaves trimmed from houseplants
  Dead houseplants and their soil
  Flowers from floral arrangements
  Natural potpourri
  Used matches
  Ashes from the fireplace, barbecue grill, or outdoor fire pits (in moderation)
  Grass clippings
  Dead autumn leaves
  Sawdust (from plain wood that has NOT been pressure-treated, stained or painted)

  Wrapping paper rolls (cut into smaller pieces)
  Paper table cloths (shredded or torn into smaller pieces)
  Crepe paper streamers (shredded)
  Latex balloons
  Jack O’lanterns (smashed)
  Those hay bales you used as part of your outdoor fall decor (broken apart)
  Natural holiday wreaths (chop up with pruners first)
  Christmas trees (chop up with pruners first, or use a wood chipper, if you have one…)
  Evergreen garlands (chop up with pruners first)

  Fur from the dog or cat brush
  Droppings and bedding from your rabbit, gerbil, hamster, etc.
  Newspaper/droppings from the bottom of the bird or snake cage
  Feathers
  Horse, cow or goat manure
  Alfalfa hay or pellets (usually fed to rabbits, gerbils, etc.)
  Dry dog or cat food, fish pellets></div>
</div>
