<div id="tracker-wrapper">

  <!-- DISPLAY TEMP GRAPH IN D3 -->
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light temp-graph activator">
      <div class="showAlert" id="humidity" ng-show="c.tooHot">
          <h3>Alert: Your compost is too hot.</h3>
      </div>
      <div class="showAlert" id="humidity2" ng-show="c.tooCold">
          <h3>Alert: Your compost is too cold. Cover to keep heat in.</h3>
      </div>
    </div>
    <div class="card-content">
      <span class="card-title activator teal-text">Temperature<i class="material-icons right">more_vert</i></span>
      <p class="grey-text text-darken-2">This graph displays your current compost temperature. Ideal temperature is between 140-160 degrees Farenheit.</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Maintaining Ideal Compost Temperature<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

  <!-- DISPLAY HUMIDITY GRAPH IN D3 -->
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light humidity-graph activator">
      <div class="showAlert" id="humidity" ng-show="c.addWater">
          <h3>Alert: Your compost is too dry. Add water.</h3>
      </div>
      <div class="showAlert" id="humidity2" ng-show="c.letDry">
          <h3>Alert: Your compost is too moist. Cover if raining, otherwise uncover and let contents dryout.</h3>
      </div>
    </div>
    <div class="card-content">
      <span class="card-title activator teal-text">Soil Moisture<i class="material-icons right">more_vert</i></span>
      <p class="grey-text text-darken-2">This graph displays your current compost soil moisture. Ideal moisture is between 40-60%.</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Maintaining Ideal Compost Soil Moisture<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

  <!-- DISPLAY DONUT GRAPH IN D3 -->
  <div class="donut-div">
      <h3>C:N Ratio</h3>
      <div class="showAlert" ng-show="c.showLessBrown">
          <h3>Alert: Too much brown material for optimal composting. Add more green.</h3>
      </div>
      <div class="showAlert" ng-show="c.showMoreBrown">
          <h3>Alert: Too much green material for optimal composting. Add more brown.</h3>
      </div>
      <!--  DISPLAY DONUT WITH D3 -->
      <div class="svg-div">
      </div>
  </div>
  <!--  FORM TO UPDATE DONUT -->
  <form class="form" ng-submit="c.submit()">
    <h3>Material added:</h3>
    <div class="form-fields">
      <label>Weight:</label>
      <input type="number" class="form-control" ng-model="c.weight" name="weight">
    </div>
    <div class="form-fields">
      <label for="color">Type:</label>
      <select class="form-control" id="color" ng-model="c.color">
        <option>Brown</option>
        <option>Green</option>
      </select>
    </div>
    <div class="form-fields">
      <button ng-show="c.showFunc()" type="submit" class="btn">Update</button>
    </div>
  </form>
  </main>
</div>
