<div id="tracker-wrapper">

  <!-- DISPLAY TEMP GRAPH IN D3 -->
  <div class="card graph-image">
    <div class="card-image temp-graph activator">
      <div class="showAlert" id="humidity" ng-show="c.tooHot">
          <h3>Alert: Your compost is too hot.</h3>
      </div>
      <div class="showAlert" id="humidity2" ng-show="c.tooCold">
          <h3>Alert: Your compost is too cold. Cover to keep heat in.</h3>
      </div>
    </div>
    <div class="card-content">
      <span class="card-title activator teal-text">Temperature<i class="material-icons right">more_vert</i></span>
      <p>This graph displays your current compost temperature. Ideal temperature is between 140-160 degrees Farenheit.</p>
    </div>
    <div class="card-reveal">
      <span class="card-title">Maintaining Ideal Compost Temperature<i class="material-icons right">close</i></span>
      <p>High temperatures are essential for destruction of pathogenic organisms and undesirable weed seeds. Decomposition is more rapid in the thermophilic temperature range, with the optimum temperature range between 140° - 160° Fahrenheit. Since few thermophilic organisms actively carry on decomposition above 160° F, it is undesirable to have temperatures above this for extended periods.</p>
    </div>
  </div>

  <!-- DISPLAY HUMIDITY GRAPH IN D3 -->
  <div class="card graph-image">
    <div class="card-image humidity-graph activator">
      <div class="showAlert" id="humidity" ng-show="c.addWater">
          <h3>Alert: Your compost is too dry. Add water.</h3>
      </div>
      <div class="showAlert" id="humidity2" ng-show="c.letDry">
          <h3>Alert: Your compost is too moist. Cover if raining, otherwise uncover and let contents dryout.</h3>
      </div>
    </div>
    <div class="card-content">
      <span class="card-title activator teal-text">Soil Moisture<i class="material-icons right">more_vert</i></span>
      <p>This graph displays your current soil moisture. Ideal moisture is between 40-60%.</p>
    </div>
    <div class="card-reveal">
      <span class="card-title">Maintaining Ideal Compost Soil Moisture<i class="material-icons right">close</i></span>
      <p>Ideally, home compost piles whould contain 40 - 60% moisture. It should feel as moist as a wrung out sponge. Dry carbon layers can be watered as the pile is built, then with each turning, add more water as necessary.<br>Just like people, compost organisms need water to live. Some microorganisms use the film of water to move—slipping and sliding to another section of the pile. Biological activity stops when the pile dries out.</p>
    </div>
  </div>

  <!-- DISPLAY DONUT GRAPH IN D3 -->
  <div class="card graph-image donut-div">
    <div class="card-image activator">
      <div class="showAlert" ng-show="c.showLessBrown">
          <h3>Alert: Too much brown material for optimal composting. Add more green.</h3>
      </div>
      <div class="showAlert" ng-show="c.showMoreBrown">
          <h3>Alert: Too much green material for optimal composting. Add more brown.</h3>
      </div>
      <div class="svg-div">
      </div>
      <form id="donut-form" ng-submit="c.submit()">
        <h5 class="header col s12 light teal-text">Enter Material Added:</h5>
        <div class="row center">
          <div class="input-field col s9">
            <select ng-model="c.color">
              <option value="" disabled selected>Type</option>
              <option value="1">Green</option>
              <option value="2">Brown</option>
            </select>
          </div>
        </div>
        <script>
        $(document).ready(function() {
          $('select').material_select();
        });
        </script>
        <div class="row center">
          <div class="input-field col s9">
            <input type="number" name="weight" class="validate" ng-model="c.weight">
            <label>Weight</label>
          </div>
        </div>
        <button type="submit" class="btn red lighten-1" ng-click="c.showFunc()">Update</button>
      </form>
    </div>
    <div class="card-content">
      <span class="card-title activator teal-text">Content Ratio<i class="material-icons right">more_vert</i></span>
      <p>This gauge displays your current compost soil content ratio. Ideal ratio of carbon-rich to nitrogen-rich material is 50:50 by weight.</p>
    </div>
    <div class="card-reveal">
      <span class="card-title">Maintaining an Ideal Content Ratio<i class="material-icons right">close</i></span>
      <p>An effective compost pile is a careful balance of dry or brown material that contains carbon (like leaves or paper) and wet or green things that contain nitrogen (like food scraps or rabbit droppings). If you add a lot of shredded paper or cardboard to the pile, you will need to balance it with a nice heap of fresh grass clippings or horse manure.</p>
      <p id="copyright">Content from <a class="teal-text" href ="http://www.smallfootprintfamily.com/100-things-you-can-compost#ixzz4ExfMd0Xa">Small Footprint Family</a> © 2015 Small Footprint Family™</p>
    </div>
  </div>
</div>
